<div> 
    <span> title: </span>
    <%= @article.title %>
</div>
<div>
    <span> content: </span>
    <%= @article.content %>
</div>

<p><%= link_to 'Back to index', :controller => 'articles', :action => 'index' %></p>